.main_container {
  display: flex;
  flex-direction: column;
}
.DashBoard {
  display: flex;
  flex-direction: row;
}
.logo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: -0.025em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6rem;
  margin-bottom: 4rem;
  /* #272727 */

  color: #182a43;
}
.logo span {
  color: #EF7C6E;
}
.DashBoard_menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  border-right: 1px solid #ccc;
  padding-top: 4rem;
  background: #f6f6f8;
  margin-top: -1rem;
  height: 100vh;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */

  color: #182a43;
  height: 100vh;
}
.DashBoard_menu_items {
  display: flex;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 6rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.DashBoard_menu_items_active {
  display: flex;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 6rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: #ef7c6e;
}
.DashBoard_menu_items img,
.DashBoard_menu_items_active img {
  padding-right: 1rem;
  border-radius: 30px;
}
.DashBoard_content {
  height: 100vh;
  overflow: scroll;
  flex: 3;
}
.menu_bottom_user {
  display: flex;
  margin-left: 6rem;
  justify-content: center;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  margin-bottom: 1rem;
}
.menu_bottom_user img {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
}
.user_data {
  display: flex;
  flex-direction: column;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #182a43;
}
.user_email {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 22px */

  color: #868686;
}
@media all and (max-width: 700px) {
  .DashBoard_menu {
    display: none;
  }
}
@media all and (max-width: 1400px) {
  .DashBoard_menu {
    margin-left: 0;
  }
  .DashBoard_menu_items,
  .DashBoard_menu_items_active {
    margin-left: 2rem;
  }
  .menu_bottom_user {
    margin-left: 2rem;
  }
}
