@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500&family=Mandali&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
}
:root {
  --amplify-primary-color: #0083e8;
  --amplify-primary-tint: #006ec2;
  --amplify-primary-shade: #006ec2;
}
