.Impact_container {
  margin: 4rem 2rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Impact_cotent_conainer {
  width: 90%;
  margin: 4rem auto 4rem auto;
  display: flex;
  flex-direction: row;
}
.Impact_content_left {
  flex: 1;
}
.Impact_content_left_title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2em;

  /* #272727 */

  color: #182a43;

  opacity: 0.4;
}
.Impact_content_left_subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: -0.015em;
  color: #182a43;
  margin-top: 01.2rem;
}
.Impact_content_right {
  flex: 1;
  min-height: 600px;
  background-image: url(/home_impact_image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
}
.Impact_cotent_grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-top: 5rem;
}
.Impact_cotent_each_grid {
  width: 13rem;
  height: 6rem;
  margin-right: 1rem;
  margin-top: 2rem;
}
.Impact_cotent_each_grid_top {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  letter-spacing: -0.015em;
  padding-left: 0.6rem;
  border-left: 5px solid #7bd5aa;
  /* #272727 */

  color: #182a43;
}
.Impact_cotent_each_grid_bottom {
  height: 3rem;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 135%;
  /* or 24px */
  margin-top: 0.2rem;
  /* #272727 */

  color: #182a43;

  opacity: 0.8;
}
.Impact_content_right_mobile {
  display: none;
}
@media all and (max-width: 1000px) {
  .Impact_cotent_conainer {
    flex-direction: column-reverse;
  }
.Impact_container {
  margin: 4rem 2rem;
  height: auto;
}
.Impact_cotent_conainer {
  width: 100%;
  margin: 0rem auto auto;
}
.Impact_content_right{
  display: none;
}
  .Impact_content_right_mobile {
    display: block;
    height: 500px;
    margin-top: 2rem;
    Width: 100%;
    background-image: url(/home_impact_image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: scroll;
  }
}
@media all and (max-width: 600px) {
  .Impact_content_left_subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 39px;
    letter-spacing: -0.015em;

    /* #272727 */

    color: #182a43;
  }
  .Impact_cotent_grid {
    margin: 1rem 2rem 2rem 0rem;
    Flex: 1;
    Justify-content: center;
    background-image: url(/missin.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
  }
  .Impact_cotent_each_grid {
    width: 35vw;
  }
  .Impact_cotent_each_grid_bottom {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 135%;
    /* or 19px */

    /* #272727 */

    color: #182a43;

    opacity: 0.8;
  }
  .Impact_cotent_each_grid_top {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.015em;

    /* #272727 */

    color: #182a43;
  }
}
