.main_container {
  display: flex;
  justify-content: center;
  padding: 10rem 15vw 5rem;
  background-color: #EFF4F8;
  align-items: center;
}
.right {
  margin: auto;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.about_you_container,
.about_cause_container,
.About_team ,
.button_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about_you_container span,
.about_cause_container span,
.payment span,
.About_team span {
  width: 100%;
  font-size: 1.5rem;
  margin: 1rem 1rem 2rem 1rem;
}
.input_field {
  margin: 1rem 2vw;
}
.input_field input,
.input_field textarea {
  width: 31vw;
  height: 2.5rem;
  font-size: 1rem;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 0.5rem;
  padding: 0.3rem;
}
.About_team_row{
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.About_team_remove_team{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.About_team_button_container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.About_team_button_container button{
  outline: none;
  Border :none;
  background-color:  #e6e6e6;
  color: black;
  font-size: 0.8rem;
  margin: 2rem 0;
  cursor: pointer;
  border-radius: 4px;
  width: 9rem;
  height: min-content;
  padding: 7px 1rem;
}
.About_team_button_container button:hover{
  background-color:  lightgrey;
  cursor: pointer;
}
.About_team .input_field input{
  width: 20vw;
}
.input_field input:focus {
  border: 2px solid #48b7b7;
}
.about_cause_container .input_field input,
.input_field textarea {
  width: 66vw;
  height: 2.5rem;
  font-size: 1rem;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 0.5rem;
  padding: 0.3rem;
}
.payment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.dropdown  {
  width: 31vw;
  height: auto;
  height: 2.5rem;
  font-size: 1rem;
  margin-top: 0.5rem;
}
.dropdown span{
  width: 80%;
  font-size: 1rem;
}
.select{
  height: auto;
  width: 100%;
  margin: 1rem 1rem 1rem 1rem ;
}
.button_container{
  margin: 2rem 2rem 1rem 1rem;
  color: white;
}
.button_container button{
  outline: none;
  Border :none;
  box-shadow: 0.2px 0.2px;
  background-color:  #48b7b7;
  color: white;
  font-size: 1.3rem;
  margin: 2rem 0;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 5rem;
}
.button_container button:hover{
  background-color:  #239696;
  cursor: pointer;

}
@media all and (max-width: 500px) {
.main_container{
  width: 100%;
  padding: 10rem 10vw 5rem;
  flex-direction: column;
}
.right{
  width: 95%;
  margin: auto;
}
  .input_field input,
.input_field textarea {
  width: 17rem;
  height: 2.5rem;
  font-size: 1rem;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 0.5rem;
  padding: 0.3rem;
}
.dropdown span{
  display: flex;
  flex-direction: column;
}
.Submit_button{
  width: 10rem;
  font-size: 0.6rem;
  margin-top :3rem;
}
  .About_team_row{
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    max-height: 70vh;
    justify-content: flex-start;
  }
  .About_team_row .input_field input{
    width: 100%;
  }
  .dropdown  {
    width: 100%;
    height: auto;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  .dropdown span{
    width: 100%;
    margin: 1rem 2vw;
    font-size: 1rem;
  }
  .select{
    height: auto;
    width: 100%;
    margin: 1rem 2vw ;
  }
}
