.main_container{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.payment_options{
    display: flex;
    flex-direction: column;

}
.payment_options span{
    margin: 1rem 1rem 1rem 0rem;
    font-size: 1.2rem;
}
.currency{
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 1rem 0rem ;
}
.currency button{
    width: 15rem;
    font-size: 1rem
}
.select{
    margin-bottom: 1rem;
}