.main_conatiner {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
.search_bar {
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search_bar input {
  height: 3rem;
  width: 25rem;
  padding: 0.3rem;
  font-size: 1.2rem;
  outline: none;
  border: 1px solid #ccc;
}
.search_container {
  display: flex;
  flex-direction: row;
}
.filter {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  margin: 1rem;
  border: 1px solid #ccc;
  border-left: none;
  padding: 1rem;
}
.filter span {
  font-size: 1.4rem;
}
.category,
.location {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.location {
}
.category input,
.location input {
  width: 1rem;
  height: 1rem;
}
.category span,
.location span {
  font-size: 1rem;
  cursor: pointer;
  margin-left: 1rem;
}
.search_result_container {
  flex: 4;
  display: flex;
  flex-wrap: wrap;
}
.ngo_grid{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin: 1rem;
}