.main_container {
  width: 100%;
  margin: 0rem auto 2rem auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main_container span{
  width: 100%;
  font-size: 1.5rem;
  margin: 1rem 1rem 2rem 1rem;
  text-align: center;
}

.input_field input,
.input_field textarea {
  width: 20rem;
  height: 2.5rem;
  font-size: 1rem;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 5px;

  margin: 1rem;
  margin-left: 0;
  margin-top: 0.5rem;
  padding: 0.3rem;
}
.main_container button {
  width: 20rem;
  margin-top: 1rem;
  height: 3.2rem;
  background: #48b7b7;
  border-radius: 4px;
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  color: #ffffff;
  opacity: 1;
  outline: none !important;
  border: none;
  cursor: pointer;
}
.social_signIn {
  display: flex;
  flex-direction: column;
}
.social_signIn button {
  margin-top: 1rem;
  width: 20rem;
  height: 3rem;
  font-size: 1rem;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
    margin-left: -1rem;
  outline: none !important;
  border-radius: 20px;
  cursor: pointer;
}
.login {
  margin-top: 1rem;
}
.login span {
  color: #48b7b7;
}
@media all and (max-width: 600px){
  .main_container{
    margin: auto;
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  .input_field input,
  .input_field textarea {
    width: 15rem;
  }
}
